.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navBar {
  display: flex;
  align-items: center;
  position: fixed;
  padding: 20px;
  margin-left: 50px;
  top: 0px;
  left: 0px;
  justify-content: space-evenly;
}

.navBar li {
  list-style: none;
  padding: 0.5rem;
}

.trending-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  justify-content: center;
}
.article-card-container {
  display: flex;
  border-radius: 1rem;
  box-shadow: 0px 10px 8px #999;
  margin: 0.5rem;
  height: 25em;
}

.trending-card-container {
  border-radius: 1rem;
  box-shadow: 0px 10px 8px #999;
  margin: 0.5rem;
  grid-area: 1 / 1 / 3 / 3;
}

.trending-card-container img {
  height: 45rem;
}
.article-img {
  border-radius: 0.5rem 0.5rem 0 0;
}
.article-title {
  margin: 0;
  font-size: 1.1rem;
}

.search-manager {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}
.search-btn {
  margin: 0px;
}

.form-inline {
  margin: 0px;
  width: 70%;
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  margin: 1rem;
}
.categories-manager {
  margin: 2rem;
}

.search-manager {
  margin: 2rem;
}

.article-sec {
  margin: 1rem;
}
.article-sec-img {
  width: 70%;
}

.commentList-container {
  margin: 2rem;
  width: 150%;
}
.avatar-img {
  width: 50px;
  padding: 0.5rem;
}
.comment-header {
  display: block;
}
.voteIcon-img,
.FilterIcon-img {
  width: 40px;
  padding: 0.5rem;
  mix-blend-mode: multiply;
  border: none;
}
.votes {
  float: inline-end;
}

.delete-btn-container {
  position: relative; /* Set the parent container to relative positioning */
}

.delete-btn {
  position: absolute; /* Position the delete button absolutely */
  bottom: 0; /* Align the delete button to the bottom */
  right: 0; /* Align the delete button to the right */
  margin: 0.5rem;
}

.article-votes {
  margin-top: 10px;
}

.vote-button:hover {
  background-color: rgb(204, 0, 255);
}
.post-btn:hover {
  background-color: rgb(204, 0, 255);
}

.article-voteIcon-img {
  width: 40px;
  mix-blend-mode: multiply;
  border: none;
}

.votes-text {
  font-size: large;
  padding: 0.5rem;
}

.article-votes-text {
  font-size: x-large;
  padding: 0.5rem;
}

@media (min-width: 1024px) {
  .trending-grid {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
  }
  .article-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .trending-card-container img {
    height: 25rem;
  }
}
@media (max-width: 320px) {
  .trending-grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
  }
  .trending-card-container {
    border-radius: 1rem;
    box-shadow: 0px 10px 8px #999;
    margin: 0;
    grid-area: 1 / 1 / 1 / 1;
  }
}
