#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.main-content {
  min-height: 100vh;
}

.navBar {
  display: flex;
  position: fixed;
  padding: 20px;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
}

.navBar li {
  list-style: none;
  padding: 0.5rem;
}
.trending-grid-container {
  display: flex;
  align-content: center;
  width: 75%;
  margin: auto;
}

.trending-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  width: 100%;
  margin: auto;
}

.article-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 1rem;
  box-shadow: 0px 10px 8px #999;
  margin: 0.5rem;
  height: fit-content;
}
.category-card-container {
  box-shadow: 0px 10px 8px #999;
  border-radius: 1rem;
}
.trending-card-container {
  border-radius: 1rem;
  box-shadow: 0px 10px 8px #999;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  border-radius: 1rem;
  box-shadow: 0px 10px 8px #999;
  margin: 0.5rem;
  height: fit-content;
}

.article-img {
  border-radius: 0.5rem 0.5rem 0 0;
}
.cat-article-img {
  border-radius: 0.5rem 0.5rem 0 0;
}

.article-title {
  margin: none;
  font-size: 1.1rem;
}

.search-btn {
  margin: 0px;
}

.form-inline {
  margin: auto;
  width: 70%;
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  margin-inline: auto; /* Center the grid horizontally */
  max-width: 100%; /* Ensure the grid does not exceed the container width */
}

.categories-manager {
  height: 100%;
}
.categories-article-container {
  height: 100%;
  margin: 2rem;
}

.search-manager-container {
  margin-top: 2rem;
  height: 100%;
}
.search-manager {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.search-not-found {
  justify-content: center;
}

.article-header {
  text-align: left;
  font-size: 2rem;
  line-height: 1.1;
  margin: 0.5rem;
}
.article-sec {
  margin: 2rem;
}

.article-sec-img {
  width: 50%;
  margin-top: 1rem;
}

.commentList-container {
  margin: 2rem;
  width: 150%;
}

.avatar-img {
  width: 50px;
  padding: 0.5rem;
}

.comment-header {
  display: block;
}

.voteIcon-img,
.FilterIcon-img {
  width: 35px;
  height: 40px;
  margin: 1px;
  padding: 0.5rem;
  mix-blend-mode: multiply;
  border: none;
}

.votes {
  float: inline-end;
}

.delete-btn-container {
  position: relative;
}

.delete-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.5rem;
}

.article-votes {
  margin-top: 10px;
}

.vote-button:hover {
  background-color: #8a2be2;
}

.post-btn:hover {
  background-color: #8a2be2;
}

.article-voteIcon-img {
  width: 40px;
  mix-blend-mode: multiply;
  border: none;
}

.votes-text {
  font-size: large;
  padding: 0.5rem;
}

.article-votes-text {
  font-size: x-large;
  padding: 0.5rem;
}

.post-container {
  margin-left: 2rem;
}

/* ContactUs.css */
.contact-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.contact-links {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.contact-links a {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.contact-links a:hover {
  color: #007bff;
}

.contact-icon {
  margin-right: 5px;
}

.footer-container {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  margin-bottom: 10px;
}

.footer-icon {
  font-size: 24px;
  color: #fff;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.footer-icon:hover {
  color: #007bff;
}

.footer-text {
  font-size: 14px;
}

.copyright {
  font-size: 12px;
  margin-top: 10px;
  color: #ccc;
}

/* Homepage.css */
.section-1 {
  /* Styles for the hero section */
  background-image: linear-gradient(to bottom, #8a2be2, #4b0082);
  color: white; /* White font color */

  padding-bottom: 3rem;
}

.categories-manager-section {
  /* Styles for the categories manager section */
  background-color: white;
  color: black; /* Black font color */
}

@media (min-width: 1024px) {
  .trending-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
    justify-content: center;
  }
  .article-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .trending-grid {
    display: grid;
    grid-template-rows: repeat(1, 100fr);
    grid-template-columns: none;
    margin: auto;
    justify-content: center;
  }

  .article-card-container {
    display: flex;
    flex-direction: column;
    width: grid(100%);
    height: fit-content;
    flex-wrap: wrap;
    border-radius: 1rem;
    box-shadow: 0px 10px 8px #999;
  }

  .trending-grid-container {
    display: flex;
    align-content: center;
    width: 100%;
  }
  .article-sec-img {
    width: 100%;
  }
}
